.playlist{
  margin: 20px;
  display: inline-flex;
}

.bienvenida{
  padding-top: 20px;
  background-image: linear-gradient(rgb(73, 84, 69), rgb(7, 8, 6) 85%);
  color: #fff;
}
.main-nav li {
  display: inline-block;
}

.main-nav a {
  font-size: 1em;
  color: #c50a0a;
  padding: .2em .8em;
  border-radius: .25em;
  background: #eaebeb;
  transition: .2s;
  margin-left: 10px;
  text-decoration: none;
}

.main-nav a.active, .main-nav a:hover {
  color: #fff;
  background: #39add1;
}

.title{
  color: #fff;
}
