.play{
    margin: 50px;
}

.init{
    padding-top: 20px;
  background-image: linear-gradient(rgb(67, 97, 129  ), rgb(20, 8, 6) 45%);
  color: #fff;
}

.audio{
    width: 150px;
}

.title{
    width: 150px;
}

.news{
    margin-right: 510px;
    margin-left: 510px;
}

.link{
    margin-right: 450px;
    margin-left: 450px;
}